
{%- include bootstrap/head.html -%}

<link rel="stylesheet" href="{{ "/assets/rts.css" | relative_url }}">
<link rel="stylesheet" href="https://code.jquery.com/jquery-3.6.0.min.js">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Cinzel+Decorative&family=Ingrid+Darling&family=Jim+Nightshade&family=Press+Start+2P&family=Square+Peg&family=Tangerine&family=Vibur&display=swap');
</style>

{%- include favicon.html -%}